<div class="card mt-2">
    <h5 class="card-header">{{vaga?.titulo}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{vaga?.empresa?.nome}}</h5>
      <p class="card-text">{{vaga?.descricaoIntegra}}</p>
      <div class="text-right">
        <button class="btn btn-success" (click)="addCandidato()" *ngIf="!canditadoInscrito && canditadoLogado && !vaga.concluida">
            <i class="fa fa-handshake-o fa-1x"></i>
            Candidatar-se
        </button>
        <button class="btn btn-secondary text-white" (click)="verCandidatos(vaga.id)" *ngIf="vagaEmpresaAtual && !vaga.concluida">
            <i class="fa fa-list-alt fa-1x"></i>
            Ver candidatos
        </button>
      </div>
    </div>
  </div>