<h4 class="text-center"> Registrar-se!</h4>

<form class="form mt-4" [formGroup]="signupForm" (ngSubmit)="signup()" >
  <div class="form-group">
    <input formControlName="email" placeholder="Email" class="form-control" autofocus />
    <app-vmessage *ngIf="signupForm.get('email').errors?.required" text="O Email é obrogatório!">
    </app-vmessage>
    <app-vmessage *ngIf="signupForm.get('email').errors?.email" text="Email inválido!">
    </app-vmessage>
    <app-vmessage text="Email já existe" *ngIf="signupForm.get('email').errors?.userNameTaken">
    </app-vmessage>
    <small *ngIf="signupForm.get('email').valid" class="text-success">Email disponivel</small>
  </div>
  <div class="form-group">
    <input formControlName="password" type="password" placeholder="Senha" class="form-control">
    <app-vmessage *ngIf="signupForm.get('password').errors?.required" text="Senha é obrigatória!">
    </app-vmessage>
    <app-vmessage *ngIf="signupForm.get('password').errors?.minlength" text="minlength 6!">
    </app-vmessage>
    <app-vmessage *ngIf="signupForm.get('password').errors?.maxlength" text="minlength 14!">
    </app-vmessage>
  </div>

  <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

  <p>Já possui Usuário?<a [routerLink]="['/home/login']">Fazer Login!</a></p>
</form>