
<div class="card col-12">
    <div class="card-body">

        <form class="form mt-4" [formGroup]="vagaFiltroForm" (ngSubmit)="buscasVagas()">

            <div class="row">
                <div class="form-group col-12">
                    <input formControlName="titulo" placeholder="Vagas" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button [disabled]="vagaFiltroForm.invalid || vagaFiltroForm.pending"
                        class="btn btn-primary" type="submit">Buscar</button>
                    <button class="btn btn-danger" type="button" (click)="limpar()">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-vagas [vagas]="vagas"></app-vagas>
