<h4 class="text-center"> Cadastrar Empregador </h4>

<form class="form mt-4" [formGroup]="empresaForm" (ngSubmit)="addEmpresa()" >
    <div class="form-group">
        <input formControlName="nome" placeholder="Nome" class="form-control" autofocus />
         <app-vmessage *ngIf="empresaForm.get('nome').errors?.required" text="O nome é obrogatório!">
        </app-vmessage> 
    </div> 
    <div class="form-group">
        <input formControlName="sobrenome" placeholder="Sobrenome" class="form-control" />
         <app-vmessage *ngIf="empresaForm.get('sobrenome').errors?.required" text="O Sobrenome é obrogatório!">
        </app-vmessage> 
    </div>
    <div class="form-group">
        <input formControlName="telefoneCelular" placeholder="Telefone Celular" mask="(00) 0000-0000||(00) 0 0000-0000" [dropSpecialCharacters]="false"  class="form-control" />
         <app-vmessage *ngIf="empresaForm.get('telefoneCelular').errors?.required" text="O Telefone Celular é obrogatório!">
        </app-vmessage> 
    </div>
    <div class="form-group">
        <input formControlName="telefoneResidencial" placeholder="Telefone Residencial" mask="(00) 0000-0000" [dropSpecialCharacters]="false" class="form-control" />
    </div>
    <div class="form-group">
        <input formControlName="telefoneComercial" placeholder="Telefone Comercial" mask="(00) 0000-0000" [dropSpecialCharacters]="false" class="form-control" />
    </div>
    <div class="form-group">
        <input formControlName="CEP" placeholder="CEP" mask="00000-000" [dropSpecialCharacters]="false" class="form-control" />
         <app-vmessage *ngIf="empresaForm.get('CEP').errors?.required" text="O CEP é obrogatório!">
        </app-vmessage> 
    </div>
    <div class="form-group">
        <input formControlName="endereco" placeholder="endereco" class="form-control" />
         <app-vmessage *ngIf="empresaForm.get('endereco').errors?.required" text="O Endereço é obrogatório!">
        </app-vmessage> 
    </div>

    <div class="form-group">
        <input formControlName="numero" placeholder="Numero"  class="form-control" />
        <app-vmessage *ngIf="empresaForm.get('endereco').errors?.required" text="O número é obrogatório!">
        </app-vmessage> 
    </div>

    <div class="form-group">
        <input formControlName="complemento" placeholder="complemento" class="form-control" />
    </div>
    <div class="form-group">
        <input formControlName="CPF_CNPJ" placeholder="CPF_CNPJ" class="form-control" mask="000.000.000-00||00.000.000/0000-00" showMaskTyped="true" [dropSpecialCharacters]="false" />
         <app-vmessage *ngIf="empresaForm.get('CPF_CNPJ').errors?.required" text="O CPF_CNPJ é obrogatório!">
        </app-vmessage> 
    </div>
    <div class="form-group">
        <input formControlName="dataNascimento" placeholder="Data de Nascimento" mask="00/00/0000" class="form-control" showMaskTyped="true" [dropSpecialCharacters]="false"  />
         <app-vmessage *ngIf="empresaForm.get('dataNascimento').errors?.required" text="A Data Nascimento é obrogatório!">
        </app-vmessage> 
    </div>


  <button [disabled]="empresaForm.invalid" class="btn btn-primary btn-block">Salvar</button>
  <button class="btn btn-danger btn-block">Limpar</button>

</form>